[Interface]
PrivateKey = {{ wireguard_client_privkey }}
Address = {{ wireguard_client_ip }}
DNS = {{ wireguard_public_dns }}

[Peer]
PublicKey = {{ wireguard_server_pubkey }}
Endpoint = {{ wireguard_server_ip }}:{{ wireguard_server_port }}
AllowedIPs = {{ wireguard_allowed_ip }}
PersistentKeepalive = {{ wireguard_keepalive }}