[Interface]
PrivateKey = {{ wireguard_server_privkey }}
Address = {{ wireguard_network }}
ListenPort = {{ wireguard_server_port }}
PostUp = iptables -A FORWARD -i %i -j ACCEPT; iptables -t nat -A POSTROUTING -o {{ wireguard_server_int }} -j MASQUERADE
PostDown = iptables -D FORWARD -i %i -j ACCEPT; iptables -t nat -D POSTROUTING -o {{ wireguard_server_int }} -j MASQUERADE

[Peer]
PublicKey = {{ wireguard_client_pubkey }}
AllowedIPs = {{ wireguard_client_ip }}